FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
ADMIN_PASSWORD=your-secure-password
JWT_SECRET=your-jwt-secret-min-32-chars
NEXT_PUBLIC_PANEL_URL=https://your-panel.vercel.app
NEXT_PUBLIC_EXCHANGE_RATE=1000
NEXT_PUBLIC_PLIN_NUMBER=999999999
